:root {
    --success  : #21BA45;
    --danger  : #C10015;
    --info      : #31CCEC;
    --warning   : #F2C037;
}
@font-face {
    font-family: special-font;
    src: url(../Font/Lalezar-Regular.ttf);
}
@font-face {
    font-family: website-font;
    src: url(../Font/BalooBhaijaan2-VariableFont_wght.ttf);
}
::-webkit-scrollbar {
    width: 5px;
    background-color: #87c4d5;
}
::-webkit-scrollbar-thumb {
    /* background-color: #215f70; */
    background-image:  linear-gradient(to bottom, #599cae, #215f70 );
    border-radius: 20px;
}
* {
    outline: 0;
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: website-font;
}
body {
    position: relative;
    background-color: gainsboro;
    overflow: hidden;
}
.top-nav {
    position: fixed;
    background-color: #0f4857;
    width: 100%;
    top: 0;
    padding: 0 10%;
    box-shadow: 0 5px 10px gray;
}
.top-nav > div {
    vertical-align: middle;
}
.top-nav-bar {
    display: inline-block;
    text-align: right;
    width: 49.5%;
}
.ul-style {
    list-style-type: none;
}
.a-style {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.li-style {
    display: inline-block;
    color: white;
    padding: 0 1%;
    transition: color 0.5s;
}
.li-style:hover {
    color: #1f9e67;
}
.p-white {
    color: white;
    font-size: 16px;
    font-family: special-font;
}
.top-nav-title {
    display: inline-block;
    text-align: left;
    width: 49.5%;
}
.right-side-menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 20%;
    height: 100%;
    background-image: linear-gradient(to bottom, #215f70 , #87c4d5);
    text-align: center;
    box-shadow: -5px 0 10px gray;
    overflow-y: auto;
}
.menu-title {
    padding: 50px 0 10px;
    border-bottom: 1px solid rgba(192, 192, 192,0.3);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.section {
    width: 100%;
}
.menu-list {
    list-style-type: none;
    width: 100%;
}
.list-item {
    width: 100%;
    text-align: right;
    padding: 5% 20% 5% 0;
    border-bottom: 1px solid rgba(192, 192, 192,0.3);
}
.list-btn {
    background-color: transparent;
    font-size: x-large;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.items {
    padding: 0;
    width: 100%;
    height: 0;
    visibility: hidden;
    opacity: 0;
}
.item {
    color: white;
    font-weight: bold;
}
.items-befor-click {
    width: 100%;
    animation: items-befor-click 0.5s forwards;
}
.items-after-click {
    width: 100%;
    animation: items-after-click 0.5s forwards;
}
@keyframes items-befor-click {
    from {
        padding: 0;
        height: 0;
        visibility: hidden;
        opacity: 0;
    }
    to {
        padding: 10%;
        height: auto;
        visibility: visible;
        opacity: 1;
    }
}
@keyframes items-after-click {
    from {
        padding: 10%;
        height: auto;
        visibility: visible;
        opacity: 1;
    }
    to {
        padding: 0;
        height: 0;
        visibility: hidden;
        opacity: 0;
    }
}

.content-base {
    position: fixed;
    left: 0.5%;
    top: 6%;
    width: 79%;
    height: 93%;
    background-image: radial-gradient(circle,#215f70, rgb(135, 196, 213));
    border-radius: 5px;
    box-shadow: 
    1px 0 10px rgba(135, 196, 213, 0.5),
    -1px 0 10px rgba(135, 196, 213, 0.5),
    0 1px 10px rgba(135, 196, 213, 0.5),
    0 -1px 10px rgba(135, 196, 213, 0.5)
    ;
    padding: 1%;
}
.content-hidden-start {
    width: 0;
    margin: auto;
    height: 0;
    display: none;
    opacity: 0;
    visibility: hidden;
}
.content-hidden {
    animation: content-hidden 1s forwards;
}
.content-visible {
    animation: content-visible 1s forwards;
}
@keyframes content-hidden {
    from {
        width: 100%;
        margin: auto;
        height: auto;
        display: block;
        opacity: 1;
        visibility: visible;
    }
    to {
        width: 0;
        margin: auto;
        height: 0;
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes content-visible {
    from {
        width: 0;
        margin: auto;
        height: 0;
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    to {
        width: 100%;
        margin: auto;
        height: auto;
        display: block;
        opacity: 1;
        visibility: visible;
    }
}
.visit-part {
    width: 100%;
    max-height: 600px;
    overflow-y: auto;
    padding: 5%;
}
img {
    width: 100%;
}
.visit-part > div {
    vertical-align: middle;
}
.image-box{
    display: inline-block;
    width: 39.5%;
}
.data-part {
    display: inline-block;
    width: 59.5%;
    padding: 10% 5%;
}
table {
    width: 100%;
    direction: ltr;
    color: white;
}
th {
    padding: 2% 0;
}
.first {
    width: 30%;
}
.second {
   width: 70%;
}
.update-profile {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    margin: auto;
    background-color: var(--warning);
    cursor: pointer;
}
.profile-dialog-box {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}
.close-box {
    background-color: transparent;
    color: white;
    position: absolute;
    top: 5%;
    right: 5%;
    border-radius: 5px;
    font-size: xx-large;
    font-weight: bold;
    cursor: pointer;
}
.profile-dialog-box-content {
    width: 350px;
    max-height: 400px;
    overflow-y: auto;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
    border-radius: 5px;
}
form {
    width: 100%;
}
input[type="text"] {
    width: 100%;
    margin: 5% 0;
    padding: 2%;
    border-bottom: 1px solid#0f4857;
    transition: all 0.5s;
    color: #0f4857;
}
input[type="text"]:focus {
    border-bottom: 1px solid #1f9e67;
    transition: all 0.5s;
}
input[list] {
    width: 100%;
    margin: 5% 0;
    padding: 2%;
    border-bottom: 1px solid#0f4857;
    transition: all 0.5s;
    color: #0f4857;
}
input[list]:focus {
    border-bottom: 1px solid #1f9e67;
    transition: all 0.5s;
}
input[type="submit"] {
    width: 100%;
    margin: 5% 0;
    padding: 2%;
    background-color: #0f4857;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}
input[type="submit"]:hover {
    background-color: #1f9e67;
    transition: all 0.5s;
}
thead {
    width: 100%;
    background-color: gray;
    text-align: center;
}
tbody {
    widows: 100%;
    text-align: center;
}
table.address {
    direction: rtl;
}
.table-btn {
    background-color: transparent;
    padding: 5%;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    width: 100%;
    color: white;
    cursor: pointer;
}
.address > tbody > tr {
    background-color: rgba(242, 242, 242, 0.2);
    transition: all 1s;
}
.address > tbody > tr:hover {
    background-color: rgba(242, 242, 242, 0.4);
    transition: all 1s;
}
th , td {font-size: 14px;}
.address-dialog-box-update {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}
.address-dialog-box-delete {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}
.comment-dialog-box-delete {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}
.order-dialog-box-update {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}
.product-title {
    width: 100%;
    direction: rtl;
    text-align: center;
}
.product-items {
    width: 100%;
    direction: rtl;
    text-align: center;
}
.product-title-item {
    font-size: 7px;
    font-weight: bold;
    color: white;
    padding: 0 2px;
    background-color: gray;
    text-align: center;
    float: right;
}
.product-body-item {
    font-size: 6px;
    font-weight: bold;
    color: #0f4857;
    padding: 0 2px;
    text-align: center;
    float: right;
    background-color: rgba(242, 242, 242, 0.9);
    transition: background-color 0.3s;
}
.product-body-item:hover {
    background-color: rgba(242, 242, 242, 0.4);
    transition: background-color 0.3s;
}
.profile-dialog-box-content > hr {
    border-top: 1px solid #0f4857;
    margin: 10% 0;
}
.confirm {
    padding: 2% 5%;
    margin: 5% 0;
    border-radius: 5px;
}

.success {
    background-color: var(--success);
}
.danger {
    background-color: var(--danger);
}
.info {
    background-color: var(--info);
}
.warning {
    background-color: var(--warning);
}
.success:hover {
    background-color: var(--success);
    opacity: 0.6;
    transition: all 0.3s;
}
.danger:hover {
    background-color: var(--danger);
    opacity: 0.6;
    transition: all 0.3s;
}
.info:hover {
    background-color: var(--info);
    opacity: 0.6;
    transition: all 0.3s;
}
.warning:hover {
    background-color: var(--warning);
    opacity: 0.6;
    transition: all 0.3s;
}