{% extends 'publicLayout.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'CSS/Register.css' %}">
{% endblock %}

{% block content %}
<div class="mainBox register">
    <h1>ثبت نام</h1>
    <hr>
    <div class="registerBox">
        {% if messages %}
        <ul class="message-box">
            {% for message in messages %}
            <li class="alert alert-{{message.tags}}">{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="{% url 'sign_up' %}" method="POST" autocomplete="on">
            {% csrf_token %}
            <input type="text" name="name" placeholder="نام و نام خانوادگی خود را وارد کنید">
            <input type="text" name="phone" placeholder="شماره تماس خود را وارد کنید">
            <input type="text" name="email" placeholder="پست الکترونیک خود را وارد کنید">
            <input type="password" name="password" placeholder="رمز عبور خود را وارد کنید">
            <input type="submit" value="ارسال کن">
        </form>
    </div>
    <div class="guideBox">
        <p>فرم آزمایشی پروژه پل استار جهت آموزش بهتر و کاردبری تر با ضاهر مناسب جهت ارتباط گیری بیشتر با مبحث تحصیلی می باشد</p>
        <p>شماره تماس: 34911-013</p>
        <p>آدرس: گیلان - رشت - گلسار - چهار راه اصفهان</p>
        <p>پست الکترونیک: info@poulstar.com</p>
    </div>
</div>
{% endblock %}

{% block js %}

{% endblock %}
